version: '2'

services:
  app:
    image: indiehosters/discourse
    volumes:
      - /srv/docker-state/allmende-discourse/assets:/usr/src/app/public/assets
      - /srv/docker-state/allmende-discourse/uploads:/usr/src/app/public/uploads
      - /srv/docker-state/allmende-discourse/backups:/usr/src/app/public/backups
    command: "/bin/bash -c 'sleep 10 && bundle exec rails server -b 0.0.0.0'"
    links:
      - postgres
      - redis
    env_file:
      - ./postgres.env
      - ./frontend.env
    networks:
      - frontend
      - backend
  sidekiq:
    image: indiehosters/discourse
    command: bundle exec sidekiq -q critical -q default -q low -v
    links:
      - postgres
      - redis
    env_file:
      - ./env
    volumes_from:
      - app
    networks:
      - backend
  postgres:
    image: postgres:9.4.8
    env_file:
      - ./postgres.env
    volumes:
      - /srv/docker-state/allmende-discourse/postgres:/var/lib/postgresql/data
    networks:
      - backend
  redis:
    image: redis:3
    networks:
      - backend

networks:
  frontend:
    external:
      name: nginx_default
  backend:
    driver: bridge
